*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --imagem1: url('./img/corinthians1.jpg');
    --imagem2: url('./img/corinthians2.jpg');
    --imagem3: url('./img/corinthians3.jpg');
    --imagem4: url('./img/corinthians4.jpg');
    --imagem5: url('./img/corinthians5.jpg');
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--imagem1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#trocar-img{
    padding: 16px 32px;
    font-size: 24px;
    cursor: pointer;
}